[submodule "mod-host"]
        path = mod-host
        url = https://github.com/worikgh/mod-host.git
        branch = mistress
[submodule "gui/simple"]
        path = gui/simple
        url = https://github.com/worikgh/simple.git
