[Unit]
Description=Run qzn3t at Boot
After=jack.service
Requires=jack.service

[Service]
Type=simple
User=patch
Group=audio
WorkingDirectory=/home/patch/120Pedal/examples
Environment="JACK_PROMISCUOUS=server"
ExecStartPre=/bin/sleep 2
ExecStart=/home/patch/120Pedal/examples/qzn3t
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target